@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Comic Neue', cursive;
    font-size: 10px;
    background: #edeef0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li{
    margin:0 20px;

}

.logo-text{
    font-size: 3em;
    font-weight: 700;
    color: #f05136;
}

.nav-link{
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-link:hover{
    color: #f05136;
}

header div p{
    font-size: 2.5em;
    
}

#Header_Section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color:white;
    height: 450px;
}

h1,h3,h4{
    font-weight: 700;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 4em;
    font-weight: 500;
}

h3{
    font-size: 2.5em;
}

h4{
    font-size: 1.8em;
}

.link-button{
    text-decoration: none;
    text-align: center;
    background: #f05136;
    cursor: pointer;
    font-weight: 100;
    padding : 10px;
    border-radius: 5%;
    letter-spacing: 0.5px;
    font-size: 1.8em;
    color:black;
    border-color: black;
}

.link-button:hover{
    color: white;
}

#Bio_Section{
    display: flex;
    align-items: center;
}

#Bio_Section article * {
    margin: 20px;
}

.bio-image{
    width:250px;
    height: 250px;
    border-radius: 50%;
    margin:100px;
}

#Bio_Section p{
    font-size: 1.5em;
}

#Portfolio_Section div{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    width: 100%;
}

#Portfolio_Section h3, p, hr{
    margin-bottom: 20px;
}

#Portfolio_Section{
    background: url(/assets/portfolio-background.svg);
    background-color: black;
    color: white;
}

#Portfolio_Section, #Skills_Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

p{
    font-size: 1.5em;
}

hr{
    width:400px;
}

#Portfolio_Section div article{
    background-color: white;
    color: black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

#Portfolio_Section div article p{
    padding: 0 5px;
}

progress[value]{
    height: 10px;
    width: 350px;
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar{
    background-color: grey;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0,0, 0.25 inset);
}

::-webkit-progress-value{
    background-color: #f05136;
}

#Skills_Section ul{
    font-size: 1.5em;
    list-style: none;
}

#Skills_Section ul li{
    margin: 10px 0;
}

#skill-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#skill-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Contact_Section{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#Contact_Section form input:last-child{
    margin-top: 30px;
    border-radius: 3px;
}

.input{
    line-height: 2em;
    width:350px;
    border-radius: 3px;
    border-color: black;
    margin: 20px 0;
}

#Contact_Section form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}